.panel.panel-default
  .panel-heading
    .row
      .col-md-8
        %h4
          = t('.title')

  %table.table
    %thead
      %tr
        %th
          = t('.title')
        %th
          = t('.created_at')
        %th
          .pull-right
            = link_to t('.new_link'), new_admin_category_path, class: 'btn btn-success'
    %tbody
      = render categories

  - if categories.total_pages > 1
    .panel-footer
      = paginate categories

